<ion-header>
  <ion-toolbar>
    <ion-title>Encud</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- container -->
  <div class="container">

    <!-- usuario o correo electronico -->
    <ion-item class="textbox-icon">
      <ion-icon name="person"></ion-icon>
      <ion-input type="text" placeholder="Usuario o correo electronico" [(ngModel)]="username"></ion-input>
    </ion-item><!-- usuario o correo electronico -->

    <!-- contrasena -->
    <ion-item class="textbox-icon">
      <ion-icon name="lock"></ion-icon>
      <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
    </ion-item><!-- contrasena -->

    <!--iniciar sesion-->
    <ion-button id="ibIniciarSesion" expand="block" class="ion-text-capitalize">Iniciar Sesión</ion-button>

  </div><!-- container -->

</ion-content>
