<ion-header>
  <ion-toolbar>
    
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button color="light"></ion-back-button>
      </ion-button>
    </ion-buttons>

    <!-- title -->
    <ion-title>Esquema de vacunacion</ion-title>

    <!-- more -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="more" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- page 1 -->
  <div id="page-1-esquema-vacunacion-nino">

    <h4>Esquema de vacunación de niños (de 0 a 9 años)</h4>

    <!-- person item -->
    <div class="person-item" *ngFor="let i of esquemaVacunacionNino1">

      <!-- desplegar -->
      <ion-button
        class="ib-desplegar ion-text-capitalize"
        expand="block"
        (click)="changeExpandState('page-1-esquema-vacunacion-nino', i.id)">
        {{getNombreCompleto(i.id)}}
      </ion-button>

      <!-- desplegar items -->
      <div id="page-1-esquema-vacunacion-nino:{{i.id}}">
        
        <!-- esquema vacunacion item -->
        <div class="esquema-vacunacion-item">

          <h6>BCG</h6>

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Dósis única</p>
              <p>Al nacer</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.bcgUnicaAlNacer"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

        </div><!-- esquema vacunacion item -->

        <!-- confirmar -->
        <ion-button
          class="ib-confirmar ion-text-capitalize"
          expand="block"
          (click)="changeEnabledState('page-1-esquema-vacunacion-nino', i.id)">
          Confirmar
        </ion-button>
        
        <div class="separator"></div>
        
      </div><!-- desplegar items -->

    </div><!-- person item -->

  </div><!-- page 1 -->

  <!-- page 2 -->
  <div id="page-2-esquema-vacunacion-nino" style="display: none;">

    <h4>Esquema de vacunación de niños (de 0 a 9 años)</h4>

    <!-- person item -->
    <div class="person-item" *ngFor="let i of esquemaVacunacionNino2">

      <!-- desplegar -->
      <ion-button
        class="ib-desplegar ion-text-capitalize"
        expand="block"
        (click)="changeExpandState('page-2-esquema-vacunacion-nino', i.id)">
        {{getNombreCompleto(i.id)}}
      </ion-button>

      <!-- desplegar items -->
      <div id="page-2-esquema-vacunacion-nino:{{i.id}}">
        
        <!-- esquema vacunacion item -->
        <div class="esquema-vacunacion-item">

          <h6>HEPATITIS B</h6>

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Primera</p>
              <p>Al nacer</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.hepatitisBPrimeraAlNacer"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Segunda</p>
              <p>2 meses</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.hepatitisBSegunda2Meses"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Tercera</p>
              <p>6 meses</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.hepatitisBTercera6Meses"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

        </div><!-- esquema vacunacion item -->

        <!-- confirmar -->
        <ion-button
          class="ib-confirmar ion-text-capitalize"
          expand="block"
          (click)="changeEnabledState('page-2-esquema-vacunacion-nino', i.id)">
          Confirmar
        </ion-button>
        
        <div class="separator"></div>
        
      </div><!-- desplegar items -->

    </div><!-- person item -->

  </div><!-- page 2 -->

  <!-- page 3 -->
  <div id="page-3-esquema-vacunacion-nino" style="display: none;">

    <h4>Esquema de vacunación de niños (de 0 a 9 años)</h4>

    <!-- person item -->
    <div class="person-item" *ngFor="let i of esquemaVacunacionNino3">

      <!-- desplegar -->
      <ion-button
        class="ib-desplegar ion-text-capitalize"
        expand="block"
        (click)="changeExpandState('page-3-esquema-vacunacion-nino', i.id)">
        {{getNombreCompleto(i.id)}}
      </ion-button>

      <!-- desplegar items -->
      <div id="page-3-esquema-vacunacion-nino:{{i.id}}">
        
        <!-- esquema vacunacion item -->
        <div class="esquema-vacunacion-item">

          <h6>PENTAVALENTE A CELULAR DPAT + VPI + HIB</h6>

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Primera</p>
              <p>2 meses</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.pentavalentePrimera2Meses"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Segunda</p>
              <p>4 meses</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.pentavalenteSegunda4Meses"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Tercera</p>
              <p>6 meses</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.pentavalenteTercera6Meses"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Cuarta</p>
              <p>28 meses</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.pentavalenteCuarta28Meses"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

        </div><!-- esquema vacunacion item -->

        <!-- confirmar -->
        <ion-button
          class="ib-confirmar ion-text-capitalize"
          expand="block"
          (click)="changeEnabledState('page-3-esquema-vacunacion-nino', i.id)">
          Confirmar
        </ion-button>
        
        <div class="separator"></div>
        
      </div><!-- desplegar items -->

    </div><!-- person item -->

  </div><!-- page 3 -->

  <!-- page 4 -->
  <div id="page-4-esquema-vacunacion-nino" style="display: none;">

    <h4>Esquema de vacunación de niños (de 0 a 9 años)</h4>

    <!-- person item -->
    <div class="person-item" *ngFor="let i of esquemaVacunacionNino4">

      <!-- desplegar -->
      <ion-button
        class="ib-desplegar ion-text-capitalize"
        expand="block"
        (click)="changeExpandState('page-4-esquema-vacunacion-nino', i.id)">
        {{getNombreCompleto(i.id)}}
      </ion-button>

      <!-- desplegar items -->
      <div id="page-4-esquema-vacunacion-nino:{{i.id}}">
        
        <!-- esquema vacunacion item -->
        <div class="esquema-vacunacion-item">

          <h6>DPT</h6>

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Refuerzo</p>
              <p>4 años</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.dptRefuerzo4Anios"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

        </div><!-- esquema vacunacion item -->

        <!-- esquema vacunacion item -->
        <div class="esquema-vacunacion-item">

          <h6>ROTAVIRUS</h6>

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Primera</p>
              <p>2 meses</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.rotavirusPrimera2Meses"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Segunda</p>
              <p>4 meses</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.rotavirusSegunda4Meses"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Tercera</p>
              <p>6 meses</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.rotavirusTercera6Meses"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

        </div><!-- esquema vacunacion item -->

        <!-- confirmar -->
        <ion-button
          class="ib-confirmar ion-text-capitalize"
          expand="block"
          (click)="changeEnabledState('page-4-esquema-vacunacion-nino', i.id)">
          Confirmar
        </ion-button>
        
        <div class="separator"></div>
        
      </div><!-- desplegar items -->

    </div><!-- person item -->

  </div><!-- page 4 -->

</ion-content>

<ion-footer class="encud-footer">
  <ion-grid>
    <ion-row>

      <!-- previous -->
      <ion-col>
        <ion-button
          expand="block"
          class="ion-text-capitalize"
          (click)="changePage(-1)">
          Anterior
        </ion-button>
      </ion-col>

      <!-- page counter -->
      <ion-col size="2" class="page-counter">
        <ion-label>
          <span id="current-page-esquema-vacunacion-nino">1</span> / <span id="page-count-esquema-vacunacion-nino">4</span>
        </ion-label>
      </ion-col>

      <!-- next -->
      <ion-col>
        <ion-button
          expand="block"
          class="ion-text-capitalize"
          (click)="changePage(1)">
          Siguiente
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>
