<ion-header>
  <ion-toolbar>
    
    <!-- back button -->
    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button color="light"></ion-back-button>
      </ion-button>
    </ion-buttons>

    <!-- title -->
    <ion-title>Esquema de vacunacion</ion-title>

    <!-- more -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="more" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!-- page 1 -->
  <div id="page-1-esquema-vacunacion-anciano">

    <h4>Esquema de vacunación de ancianos (mayores de 60 años)</h4>

    <!-- person item -->
    <div class="person-item" *ngFor="let i of esquemaVacunacionAnciano1">

      <!-- desplegar -->
      <ion-button
        class="ib-desplegar ion-text-capitalize"
        expand="block"
        (click)="changeExpandState('page-1-esquema-vacunacion-anciano', i.id)">
        {{getNombreCompleto(i.id)}}
      </ion-button>

      <!-- desplegar items -->
      <div id="page-1-esquema-vacunacion-anciano:{{i.id}}">
        
        <!-- esquema vacunacion item -->
        <div class="esquema-vacunacion-item">

          <h6>NEUMOCÓCICA POLISACÁRIDA</h6>

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Una dosis</p>
              <p>Anual</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.neumococicaUnaDosisAnual"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

        </div><!-- esquema vacunacion item -->

        <!-- confirmar -->
        <ion-button
          class="ib-confirmar ion-text-capitalize"
          expand="block"
          (click)="changeEnabledState('page-1-esquema-vacunacion-anciano', i.id)">
          Confirmar
        </ion-button>
        
        <div class="separator"></div>
        
      </div><!-- desplegar items -->

    </div><!-- person item -->

  </div><!-- page 1 -->

  <!-- page 2 -->
  <div id="page-2-esquema-vacunacion-anciano" style="display: none;">

    <h4>Esquema de vacunación de ancianos (mayores de 60 años)</h4>

    <!-- person item -->
    <div class="person-item" *ngFor="let i of esquemaVacunacionAnciano2">

      <!-- desplegar -->
      <ion-button
        class="ib-desplegar ion-text-capitalize"
        expand="block"
        (click)="changeExpandState('page-2-esquema-vacunacion-anciano', i.id)">
        {{getNombreCompleto(i.id)}}
      </ion-button>

      <!-- desplegar items -->
      <div id="page-2-esquema-vacunacion-anciano:{{i.id}}">
        
        <!-- esquema vacunacion item -->
        <div class="esquema-vacunacion-item">

          <h6>TD</h6>

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Refuerzo</p>
              <p>Cada 10 años</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.tdRefuerzoCada10Anios"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Primera</p>
              <p>Dosis inicial</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.tdPrimeraDosisInicial"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Segunda</p>
              <p>1 mes despues de la primera dosis</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.tdSegunda1MesDespues"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Segunda</p>
              <p>12 meses despues de la primera dosis. lorem</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.tdSegunda12MesesDespues"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

        </div><!-- esquema vacunacion item -->

        <!-- confirmar -->
        <ion-button
          class="ib-confirmar ion-text-capitalize"
          expand="block"
          (click)="changeEnabledState('page-2-esquema-vacunacion-anciano', person.id)">
          Confirmar
        </ion-button>
        
        <div class="separator"></div>
        
      </div><!-- desplegar items -->

    </div><!-- person item -->

  </div><!-- page 2 -->

  <!-- page 3 -->
  <div id="page-3-esquema-vacunacion-anciano" style="display: none;">

    <h4>Esquema de vacunación de ancianos (mayores de 60 años)</h4>

    <!-- person item -->
    <div class="person-item" *ngFor="let i of esquemaVacunacionAnciano2">

      <!-- desplegar -->
      <ion-button
        class="ib-desplegar ion-text-capitalize"
        expand="block"
        (click)="changeExpandState('page-3-esquema-vacunacion-anciano', i.id)">
        {{getNombreCompleto(i.id)}}
      </ion-button>

      <!-- desplegar items -->
      <div id="page-3-esquema-vacunacion-anciano:{{i.id}}">
        
        <!-- esquema vacunacion item -->
        <div class="esquema-vacunacion-item">

          <h6>INFLUENZA ESTACIONAL</h6>

          <!-- subitem -->
          <div class="esquema-vacunacion-item-subitem">
            <div class="hbox">
              <p>Una dosis</p>
              <p>Anual</p>
            </div>
            <ion-item>
              <ion-label position="stacked">Fecha de vacunación</ion-label>
              <ion-datetime displayFormat="DD/MM/YYYY" min="1900-01-01" placeholder="DD/MM/AAAA" [(ngModel)]="i.influenzaUnaDosisAnual"></ion-datetime>
            </ion-item>
          </div><!-- subitem -->

        </div><!-- esquema vacunacion item -->

        <!-- confirmar -->
        <ion-button
          class="ib-confirmar ion-text-capitalize"
          expand="block"
          (click)="changeEnabledState('page-3-esquema-vacunacion-anciano', person.id)">
          Confirmar
        </ion-button>
        
        <div class="separator"></div>
        
      </div><!-- desplegar items -->

    </div><!-- person item -->

  </div><!-- page 3 -->

</ion-content>

<ion-footer class="encud-footer">
  <ion-grid>
    <ion-row>

      <!-- previous -->
      <ion-col>
        <ion-button
          expand="block"
          class="ion-text-capitalize"
          (click)="changePage(-1)">
          Anterior
        </ion-button>
      </ion-col>

      <!-- page counter -->
      <ion-col size="2" class="page-counter">
        <ion-label>
          <span id="current-page-esquema-vacunacion-anciano">1</span> / <span id="page-count-esquema-vacunacion-anciano">3</span>
        </ion-label>
      </ion-col>

      <!-- next -->
      <ion-col>
        <ion-button
          expand="block"
          class="ion-text-capitalize"
          (click)="changePage(1)">
          Siguiente
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>
