/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// GLOBAL STYLES

ion-toolbar {
    --background: var(--ion-color-primary);
    --color: white;
}

h4 {
    text-align: center;
    margin-bottom: 20px;
}

.textbox-icon {
    margin-bottom: 10px;

    ion-icon {
        margin-right: 10px;
    }
}

.numeric-up-down {
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: medium;
        margin: 0px 10px;
    }
}

.person-item {
    .ib-desplegar {
        margin-bottom: 10px;
    }
    
    .ib-confirmar {
        --background: var(--ion-color-secondary);
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .separator {
        background-color: rgb(80, 80, 80);
        margin-bottom: 30px;
        height: 1px;
        width: 100%;
    }
}

.encud-footer {
    ion-grid {
        --ion-grid-padding: 0px;

        .page-counter {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}

.fill-height {
    height: 100%;
}

.center-vertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.esquema-vacunacion-item {
    h6 {
        text-align: center;
    }

    .esquema-vacunacion-item-subitem {
        margin: 15px 0px;

        .hbox {
            display: flex;
            justify-content: space-between;

            p {
                font-weight: bold;
                margin: 2px 15px;
                text-align: right;
            }
        }
    }
}
