<ion-header>
  <ion-toolbar>
    <ion-title>
      Encud
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>

    <ion-row>
      <!-- card -->
      <ion-col>
        <div id="divNuevaEncuesta" class="custom-card">
          <div class="icon">
            <ion-icon name="star" color="light"></ion-icon>
          </div>
          <p> Nueva encuesta</p>
        </div>
      </ion-col><!-- card -->

      <!-- card -->
      <ion-col>
        <div class="custom-card">
          <div class="icon">
            <ion-icon name="star" color="light"></ion-icon>
          </div>
          <p> Reanudar encuesta</p>
        </div>
      </ion-col><!-- card -->
    </ion-row>

    <ion-row>
      <!-- card -->
      <ion-col>
        <div class="custom-card">
          <div class="icon">
            <ion-icon name="star" color="light"></ion-icon>
          </div>
          <p> Actualizar encuesta</p>
        </div>
      </ion-col><!-- card -->

      <!-- card -->
      <ion-col>
        <div class="custom-card">
          <div class="icon">
            <ion-icon name="star" color="light"></ion-icon>
          </div>
          <p> Subir encuesta</p>
        </div>
      </ion-col><!-- card -->
    </ion-row>

  </ion-grid>

</ion-content>

<ion-footer class="ion-padding">

  <!-- cerrar sesion -->
  <ion-button id="ibCerrarSesion" class="ion-text-capitalize" expand="block" fill="outline">Cerrar Sesión</ion-button>

</ion-footer>
